@charset "utf-8";

/*
   Layout styles for index.html
   Author: Scott Cordle
   Date:   02/20/2020
   
   Filename: index_layout.css

*/

/* Window and Body Styles */

/* Row Styles */

/* Page Header Styles */

/* Horizontal Navigation List Styles */

/* Topics Styles */

/* HR Styles */

/* Customer Comment Styles */

/* Footer Styles */
