@charset "utf-8";

/*
   Layout styles for index.html
   Author: Scott Cordle
   Date:   02/20/2020
   
   Filename: index_layout.css

*/

/* Window and Body Styles */

/* Row Styles */

/* Page Header Styles */

/* Horizontal Navigation List Styles */

/* Assignments Styles */
article#assignments {
  clear: both;
  width: 40%;
  float: left;
}

/* About Me Styles */
article#aboutMe {
  width: 60%;
  float: left;
}

/* Favorites Styles */
article#favorites {
  clear: both;
  width: 100%;
  float: left;
}

/* Footer Styles */
